@import url("./node_modules/normalize.css/normalize.css");

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body, a, div, span, p, li, h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
}

#app {
  margin-top: 60px;
  width: 80%;
  max-width: 800px;
}

@media (max-width: 480px) {
  #app {
    padding: 24px;
    width: 100%;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.router-link {
  font-size: 1.5rem;
  margin-right: 24px;
  transition: color 0.3s ease;
}

.router-link:hover,
.router-link-exact-active {
  color: #2f9e44;
}
